<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hackathon">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".Application"
        android:theme="@style/AppTheme">
    <activity android:name=".SignInActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <action android:name="com.package.name.MyActivity"/>
            <category android:name="android.intent.category.LAUNCHER" />

        </intent-filter>
    </activity>
        <activity android:name=".textEditor.EditActivity">

        </activity>
        <activity android:name=".ReaderActivity">
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="content" />
            <data android:mimeType="*/*" />
            <data android:pathPattern=".*\\.pcx" />
            <data android:host="*" />

        </activity>
        <activity android:name=".NavDrawerActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".BaseActivity">

        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".ClientActivity"/>
    </application>

</manifest>
